h1{
    text-align: center;
    font-family:inherit;
    font-size: 48px;
    color: rgb(18, 213, 219);
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: auto;
    padding: 10px;
    }
    h2{
        display: inline;
        padding: 12px;
        margin: 10px;
        color: rgb(48, 24, 24)
    }
    img{
        width: 450px;
        height: 700px;
        border-radius: 15px;
    }
    .main{
        margin: 12px;
        padding: 15px;
    }
    